.important {
    font-weight: bold;
    font-size: xx-large;
  }
  
  .red {
    color: rgb(227, 25, 79);
  }
  .bt{
    background-color: rgb(189, 189, 216);
    border-radius: 9px;
    font-size: 24px;
    border: 1px solid rgb(29, 26, 26);
  }
  .bt:hover{
    color: rgb(185, 26, 26);
  }
  